* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
p, a {
    font-family: sans-serif;
    font-weight: 100;
}


h1, h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: #33323d;
}





nav {
    background-color: #33323d;
    padding: 3.6rem;


    display: none;
}


.mobile-nav-icon-wrapper {
    position: absolute;
    right: 0.3rem;
    padding: 1.7rem;
    font-size: 2rem;
}


.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.mobile-menu li {
    list-style-type: none;
    padding-bottom: 1rem;
}


.mobile-menu li a {
    color: white;
    text-decoration: none;
}


.mobile-menu li a:hover {

    color: #5fb4a2;
    transition: 0.2s;

    
}


#x-icon {
    display: none;
    color: white;
}


#hamburger-icon {
    color: #33323d;
}



@media  (min-width: 590px) {
    nav {
        display: block  !important;
        background-color: transparent;
    }


    .mobile-menu {
        flex-direction: row;
        justify-content: flex-end;
        width: 90%;
    }


    .mobile-menu li {
        padding-right: 1rem;
    }


    .mobile-menu li a {
        text-decoration: none;
        color: #33323d;
    }


    .mobile-nav-icon-wrapper {
        display: none;
    }


}




/* THIS IS IT 

  

  nav {
    padding: 2rem;
  }


.mobile-nav-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    color: black;
    width: 90%;
    font-size: 2rem;

}


.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mobile-menu li {
    list-style: none;
    padding-bottom: 1rem;

}

.mobile-menu li a {
    text-decoration: none;
    color: wheat;
}


.hidden {
    display: none;
}




@media (min-width:640px) {
  
   nav {
      background-color: transparent;
   }

    .mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mobile-menu li a {
        padding-right: 1rem;
        color: black;
    }

    .mobile-nav-icon-wrapper {
        display: none;
    }
    
}

/* THIS IS IT /////////////////////////








/*      color: wheat; */
 

 
/*

header {
    background-color: #33323d;

}


#x-icon{
    display: none;
}


.mobile-nav-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    font-size: 1.5rem;
    color: #33323d

}




.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 1rem;
    left: 1rem;

}


.mobile-menu li {
    padding-bottom: 1rem;
    list-style-type: none;
}

.mobile-menu li a {
    text-decoration: none;
    color: white;
}





@media (min-width: 643px) {
     
}
//////////////////////////







/*



body {
    background-color: #EFEEEF;


}


p, a {
    font-family: sans-serif;
    font-weight: 100;
}



header {
  background-color: transparent;
}


.mobile-menu {
    display: none;
}


li {
    list-style: none;
}



li a {
    text-decoration: none;
    transition: 0.2s;
    margin-right: 2rem;

}

li a:hover {
    color: #5fb4a2;
}



.mobile-nav-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    color: #33323d;
}



nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;



}


nav ul li {
    margin-bottom: 1.5rem;
}

nav ul li a {
    color: white;
}


.active {
    display: block;
}




@media (min-width: 643px) {
    header {
        background-color: transparent;
    }
   
    nav {
        width: 90%;
    }

   .mobile-menu {
    display: flex;
   }


    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 3rem 0;

    }
  

    .mobile-nav-icon-wrapper {
         display: none;
        color: #33323d;

    }


   nav ul  li a {
        color: #33323d;

    }

}


*/








/*
//////////////////////////////////////

img {
    max-width: 100%;
    block-size: auto;
}



p, a {
    font-family: sans-serif;
    font-weight: 100;
    color: #33323d;
}





h1, h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: #33323d;
}


nav {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 3rem;

}



li {
    list-style: none;
}



li a {
    text-decoration: none;
    transition: 0.2s;
    margin-right: 2rem;
}

li a:hover {
    color: #5fb4a2;
}


.about-wrapper {
    margin-top: 10rem;
    margin-bottom: 17rem;
}

.name, .about-info {
    display: flex;
    justify-content: center;
}


.about-details img {
    width: 25rem;
}

.underline {
    border: solid 1px;
    margin-bottom: 2rem;
    
}
 

.about-wrapper h1 {
    font-size: 3.6rem;
}


.about-wrapper h2 {
    font-size: 2.6rem;
    
}


.about-details {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}


.about-title, .about-me-text, .project-btn-wrapper {
    display: flex;
    justify-content: center;
}



.about-title h2 {
    font-size: 2.7rem;
    
}

.about-me-text {
    margin-top: 2rem;
}



.about-me-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.project-btn {
    margin-right: 1rem;
}

.project-btn-wrapper {
    margin-bottom: 4rem;
}


.contact-btn-wrapper {
    display: flex;
    justify-content: center;
}

.navagation-btn button {
    background-color: white;
    cursor: pointer;
    border: black solid 1px;
    transition: 0.5s;
    margin-top: 10rem;
    padding: 1.6rem;
    width: 16rem;
 }
 
 
 
 .navagation-btn button:hover  {
    transition: 0.5s;
    background-color: #33323d;
    color: white;
 
 }
 


 footer {
    margin-top: 10rem;
    background-color: #33323d;
    padding: 1.7rem;


 }


 footer ul {
    display: flex;
    margin-left: 10rem;
 }


footer li a {
    color: white;
}



*/