* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #12181a;
}


h1, h2, h3 {
    color: white;
    

}

h1 {
    font-size: 4rem;
}



p {
    font-family: 'Roboto', sans-serif;
    color: #d1d5db;
   
}



.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    padding-bottom: 10rem;

}



.name, .introduction {
    display: flex;
    justify-content: center;
}


.introduction {
    padding-top: 1rem;
    padding-bottom: 9rem;
}


.introduction p {
    font-weight: bold;
    width: 41%;
    text-align: center;
    font-size: 1.5rem;
}


.tech-head {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

}


.about-section img {
    height: 4.6rem;
    width: 4.6rem;
}

.tech-images {
    display: flex;
    justify-content: center;
}


.tech-images img {
    padding-right: 1rem;
    cursor: pointer;
}


.tech-images img:hover {
    animation: bounce 1.1s ease-in-out infinite;

   
}


@keyframes bounce {
    0%, 
    20%,
    60%, 
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-10px);
    }
}




.project-section {
  
  padding-bottom: 10rem;
}


.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.project {
    margin-right: 1.7rem;
    transition: 1s;
    margin-bottom: 3rem;

}


.project:hover {
    transition: 1s;
    transform:scale(1.1);
}




.img-container img {
    height: 16rem;
    width: 22rem;
    border-radius: 0.4rem;
    position: relative;
    top: 0.5rem;
}

/*22rem width*/

.project-info {
    width:22rem;
    height: 16rem;
    background-color: #2a2e35;
}



 .project-title, .code-live, .project-details {
    display: flex;
    justify-content: center;
}


.project-title {
    margin-bottom: 1rem;
}


.code-live {
    margin-bottom: 1rem;
}



.project-details {
    margin-bottom: 1.7rem;
}


.code-live a  {
    color: black;
    margin-right: 0.8rem;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 4rem;
    text-align: center;
    padding: 0.6rem;
}

a:hover {
    transition: 0.2s;
    color: rgb(128, 84, 2) ;
}








.project-title h3 {
    font-size: 1.8rem;
    padding-top: 1rem;
}

.project-details p {
    text-align: center;
}


.btn-wrapper {
    display: flex;
    justify-content: center;
}



button {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}


.html-btn {
    background-color: #FC490B;
    color: white;
 }
 
 .css-btn {
     background-color: #2299F8;
     color: white;
 }
 
 
 .javascript-btn {
     background-color: #F0DA4E;
     color: black;
 }


