* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F7F9FC;
    overflow-x: hidden;
}


 

header {
    background-color: white;
}


 
.about-section {
    display: flex;
    justify-content: center;
    margin-top: 110px;

}

.name {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #163F5E ;
    font-weight: bold;
    font-size: 50px;
    color:  #01ADB7;;
}




.about-me {
    width: 560px;
    text-align: center;
    color: #3C4A69;
    font-size: 20px;
    margin-bottom: 90px;
    color: black;

}



.skills-head {
    display: flex;
    justify-content: center;
    color: #01ADB7;;
    font-size: 30px;
    margin-bottom: 50px;
}



.tech-images img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    cursor: pointer;

}


.tech-images {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}


.tech-images img:hover {
    animation: bounce 1.1s ease-in-out infinite;

   
}


@keyframes bounce {
    0%, 
    20%,
    60%, 
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-10px);
    }
}



.tech-skills {
    padding-bottom: 10vh;
}



.project-section {
    padding-bottom: 130vh;
    display: flex;
    justify-content: center;
    
}




.project-section img {
    height: 293px;
    width: 494px;

}


.project {
    transition: 1s;
    height: 293px;
    width: 494px;
    margin-right: 35px;


}



.project:hover {
    transform:scale(1.1);
}


.project-card {
    background-color: white;
    

    height: 320px;
    width: 494px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}

/*

.project-head {
    display: flex;
    justify-content: center;
    color: #01ADB7;
    font-size: 30px;
    margin-bottom: 100px;

}

*/


.project-title  {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}



.project-title h3 {
    margin-top: 20px;
    color: #778a9c;
}



.code-live {
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
    margin-right: 8px;
    color: #383E47;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(214, 210, 210);
    font-size: 20px;
}



.project-details {
    display: flex;
    justify-content: center;
}



.project-details p {
    font-size: 21px;
    margin-top: 40px;
    font-weight: bold;
    width: 400px;
    color: #292C35;
    text-align: center;
}



button {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}


.btn-wrapper {
    display: flex;
    justify-content: center;
}

.html-btn {
   background-color: #FC490B;
   color: white;
}

.css-btn {
    background-color: #2299F8;
    color: white;
}


.javascript-btn {
    background-color: #F0DA4E;
    color: black;
}






/*
rgb(179, 154, 154);

*/



/*


.portfolio img {
    height: 150px;
    width: 350px;
    margin-bottom: 10px;
}


.project {
    height: 150px;
    width: 130px;
    margin-right: 35px;
    transition: 1s;
    margin-top: 40px;
    background-color: #1a1e25;
}


.project:hover {
    transform:scale(1.1);
}

.project-text {
    color: white;
    text-align: center;
}


.project-text h3 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 253, 253);
}



.project-details {
    display: flex;
    justify-content: center;
}


.project-text p {
    font-size: 17px;
    margin-top: 40px;
    font-weight: bold;
    width: 400px;
}



button {
    outline: none;
    background: transparent;
    border: solid white 2px;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}

a {
    text-decoration: none;
    margin-right: 8px;
    
    color: #FCBA75; 
    color: #C36656;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: black;
    font-size: 20px;
    
}


a:hover {
    color: white;
    transition: 1s;
}


.contact {
    padding-bottom: 30vh;
    background-color: rgb(26, 18, 12);
    font-size: 30px;
    font-weight: bold;

}


.contact-wrapper {
    position: relative;
    top: 50px;
}


.contact-head, .number-container, .email-container, .github-img {
    color: #FCBA75;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    
}
   



*/

