* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #EFEEEF;
}



img {
    max-width: 100%;
    block-size: auto;
}



p, a {
    font-family: sans-serif;
    font-weight: 100;
    color: #33323d;
}



img {
    max-width: 100%;
    block-size: auto;
}



h1, h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: #33323d;
}


nav {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 3rem;

}



li {
    list-style: none;
}



li a {
    text-decoration: none;
    transition: 0.2s;
    margin-right: 2rem;
}

li a:hover {
    color: #5fb4a2;
}



.image-container img {
     height: 20rem;
}





.project {
    display: flex;
    margin-top: 10rem;    /*margin-top: 5rem;  */
    justify-content: space-evenly;
    margin-bottom: 9rem;
}


.project-section {
    padding-bottom: 12rem;
}



.navagation-btn a {
    background-color: #213A4D;
    cursor: pointer;
    border: black solid 1px;
    transition: 0.5s;
    padding: 1rem;
    margin-top: 10rem;
    color: white;
    text-decoration: none;
 }
 
 
 
 .navagation-btn a:hover  {
    transition: 0.5s;
    background-color: white;
    color: black;
    font-weight: bold;

 
 }



 .underline {
    border: solid 1px;
    margin-bottom: 2rem;
    
}




.project-btn {
    margin-right: 1rem;
}
 

 .project-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
 }




.project-btn-wrapper {
    display: flex;
    justify-content: center;
}



 /*

 
 .project-btn-wrapper {
    position: relative;
    bottom: 4rem;
    display: flex;
    justify-content: center;
 }


.project-btn-wrapper button {
    margin-right: 0.5rem;
}



.underline {
    border: solid 1px;
    margin-bottom: 2rem;
    
}



.number-game-img {
    width: 44rem;
    height: 36rem;
}


*/