@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}




html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: white;       
     background-color: #323946;


}



/*
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

*/



.navbar {
    position: relative;
    top: 6px;
    right: 13.5px;
}


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #323946;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
    visibility: hidden;
}

.navbar a {
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;
}



@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;

        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: #323946;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

  
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
  
}


.skills-section {
    margin-top: 10rem;
}


.title, .text-wrapper {
    display: flex;
    justify-content: center;
}

.title h2 {
    font-size: 5rem;
    color: wheat;
    margin-bottom: 2rem;
    
}


p {
    font-size: 1.5rem;
    width: 90%;
}




img {
    width: 14%;
    height: auto;
    cursor: pointer;
}



.skills {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    
}

.skills img {
    margin-right: 1rem;
}



@media (min-width: 700px) {
     
    img {
        width: 10rem;
    }
   
     

    p {
        font-size: 2rem;
        width: 50%;
    }
}